name: PR

on:
  pull_request:
    branches: [ "main", "devtask/pr-action" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.24.10"
    
    - name: Install gomobile
      run: |
        cd GoBarcodeGenerator
        go install golang.org/x/mobile/cmd/gomobile@v0.0.0-20251126181937-5c265dc024c4
        go install golang.org/x/mobile/cmd/gobind@v0.0.0-20251126181937-5c265dc024c4
        echo "$HOME/go/bin" >> $GITHUB_PATH
        gomobile init

    - name: Download Go dependencies
      run: |
        cd GoBarcodeGenerator
        go mod download

    - name: Run check
      run: make build-test