name: PR

on:
  pull_request:
    branches: [ "main", "devtask/pr-action" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.24.10"

    - name: Download Go dependencies
      run: |
        cd GoBarcodeGenerator
        go mod download

    - name: Run check
      run: make build-test